[submodule ".vim/bundle/vim-ansible-yaml"]
	path = .vim/bundle/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule ".vim/bundle/base16-vim"]
	path = .vim/bundle/base16-vim
	url = git://github.com/chriskempson/base16-vim.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = git://github.com/chriskempson/base16-shell.git
